*.RData
*.xlsx
/Utils/*
/INPUT_DATASETS/*
/INPUT_SPATIAL_LAYERS/CLOSURES/*
/INPUT_SPATIAL_LAYERS/CLOSURES_PARTNERS/*
/INPUT_SPATIAL_LAYERS/OWP/*
/INPUT_SPATIAL_LAYERS/VMEs/*
/OUTCOME_DATASETS/*
/OUTCOME_FISHERIES_DISTR_VMS/*
/OUTCOME_FISHERIES_DISTR_VMS_VMEs/*
/OUTCOME_FISHERIES_DISTR_VMS_AER_VMEs/*
/OUTCOME_FISHERIES_DISTR_VMS_AER_VMEs_old/*
/OUTCOME_FISHERIES_DISTR_FDI_AER/*
/OUTCOME_FISHERIES_DISTR_FDI/*
/OUTCOME_FISHERIES_DISTR_VMS_FDI/*
/OUTCOME_OVERLAY_VMEs/*
/OUTCOME_DISPLACEMENT_old/*
/OUTCOME_DISPLACEMENT/OUTCOME_FISHERIES_DISTR_FDI_AER/*
/OUTCOME_DISPLACEMENT/OUTCOME_FISHERIES_DISTR_FDI_AER_plots/*
/OUTCOME_DISPLACEMENT/OUTCOME_FISHERIES_DISTR_FDI_AER_reassembled/*
/OUTCOME_DISPLACEMENT_VMEs/*
/OUTCOME_DISPLACEMENT/OUTCOME_FISHERIES_DISTR_VMS_AER/Plots/ALL_REGIONS/Plots/*
/OUTCOME_DISPLACEMENT/OUTCOME_FISHERIES_DISTR_VMS_AER/Plots/BoB/Plots/*


