*.RData
*.xlsx
/Utils/*
/INPUT_DATASETS/*
!INPUT_DATASETS/README.txt
!INPUT_DATASETS/AER_2018_2021_economic_variables_per_fs.csv
!INPUT_DATASETS/AER_2018_2021_effort_per_fs.csv
!INPUT_DATASETS/AER_2018_2021_landings_per_fs.csv
!INPUT_DATASETS/fake_VMS.RData
!INPUT_DATASETS/FDI_table_i.csv
!INPUT_DATASETS/FDI_table_h.csv
!INPUT_DATASETS/fake_VMS.RData
/INPUT_SPATIAL_LAYERS/CLOSURES/*
/INPUT_SPATIAL_LAYERS/CLOSURES_PARTNERS/*
/INPUT_SPATIAL_LAYERS/OWP/*
/INPUT_SPATIAL_LAYERS/VMEs/*
/OUTCOME_DATASETS/*
!OUTCOME_DATASETS/README.txt
/OUTCOME_FISHERIES_DISTR_VMS/*
/OUTCOME_FISHERIES_DISTR_VMS_VMEs/*
/OUTCOME_FISHERIES_DISTR_VMS_AER_VMEs/*
/OUTCOME_FISHERIES_DISTR_VMS_AER_VMEs_old/*
/OUTCOME_FISHERIES_DISTR_FDI_AER/*
/OUTCOME_FISHERIES_DISTR_FDI/*
/OUTCOME_FISHERIES_DISTR_VMS_FDI/*
/OUTCOME_OVERLAY_VMEs/*
/OUTCOME_OVERLAY/OUTCOME_FISHERIES_DISTR_VMS_AER/VectorExtract/*
/OUTCOME_DISPLACEMENT_old/*
/OUTCOME_DISPLACEMENT/OUTCOME_FISHERIES_DISTR_FDI_AER/*
/OUTCOME_DISPLACEMENT/OUTCOME_FISHERIES_DISTR_FDI_AER_plots/*
/OUTCOME_DISPLACEMENT/OUTCOME_FISHERIES_DISTR_FDI_AER_reassembled/*
/OUTCOME_DISPLACEMENT_VMEs/*
/OUTCOME_DISPLACEMENT/OUTCOME_FISHERIES_DISTR_VMS_AER/Plots/ALL_REGIONS/Plots/*
/OUTCOME_DISPLACEMENT/OUTCOME_FISHERIES_DISTR_VMS_AER/Plots/BoB/Plots/*


